<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:jpa="http://www.springframework.org/schema/data/jpa"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd

       		http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa.xsd"
	   default-lazy-init="true">

    <bean class="org.springframework.orm.hibernate4.HibernateExceptionTranslator"/>
    <bean class="org.springframework.dao.annotation.PersistenceExceptionTranslationPostProcessor"/>


    <bean id="entityManagerFactory"
   		 class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
	    <property name="dataSource" ref="dataSource" />
	    <property name="mappingResources" value="esched.hbm.xml"/>
		<property name="packagesToScan">
		    <list>
		        <value>org.finra.esched.domain</value>
		        <value>org.finra.exam.common.security.domain</value>
		        <value>org.finra.exam.common.domain</value>
		    </list>
		</property>
	    <property name="jpaDialect">
	        <bean class="org.springframework.orm.jpa.vendor.HibernateJpaDialect" />
	    </property>
	    <property name="jpaVendorAdapter">
	        <bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter"></bean>
	    </property>
        <property name="jpaProperties">
            <props>
               <prop key="hibernate.dialect">${hibernate.dialect}</prop>
                <prop key="hibernate.query.substitutions">true 'Y', false 'N'</prop>
                <prop key="hibernate.cache.use_second_level_cache">true</prop>
                <prop key="hibernate.cache.region.factory_class">org.hibernate.cache.ehcache.SingletonEhCacheRegionFactory</prop>        
                <prop key="hibernate.cache.use_query_cache">true</prop>
                <prop key="hibernate.show_sql">false</prop>
                <prop key="hibernate.cache.provider_configuration_file_resource_path">ehcache.xml</prop>
				<!--<prop key="hibernate.generate_statistics">true</prop>-->
   				<prop key="org.hibernate.envers.audit_table_suffix">_HS</prop>
  				<prop key="org.hibernate.envers.revision_field_name">RVSN_ID</prop>
    	        <prop key="org.hibernate.envers.audit_strategy_validity_revend_timestamp_field_name">RVSN_NB</prop>
    	       <!--  <prop key="org.hibernate.envers.revision_type_field_name">RVSN_TYPE_CD</prop> -->
  				<prop key="hibernate.id.new_generator_mappings">true</prop>
            </props>
            
        </property>
	</bean>

	<bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
	    <property name="entityManagerFactory" ref="entityManagerFactory" />
	</bean>
    
    <!-- Activates scanning of @Autowired -->
    <context:annotation-config/>

    <!-- Activates scanning of @Repository -->
    <context:component-scan base-package="org.finra.esched.dao, org.finra.exam.common.security.dao, org.finra.exam.common.dao"/>
	
	<jpa:repositories base-package="org.finra.esched.repository, org.finra.exam.common.repository" factory-class="org.finra.exam.common.repository.factory.DefaultRepositoryFactoryBean"/>
</beans>
